.gitignore merge=ours
.gitattributes merge=ours
Dockerfile merge=ours
.dockerignore merge=ours

/src/utils/global/constants.ts merge=ours
/src/utils/global/getPathAPI.ts merge=ours
/src/* merge=theirs

/e2e/cypress.config.js merge=ours
/e2e/* merge=theirs

cspCompliance.sh merge=ours
startContainer.sh merge=ours
preact.config.example.js merge=ours
README.md merge=ours
