.container {
    background-color: #383838;
    font-family: Fira Mono, sans-serif;
    margin-left: 2rem;
    height: 700px;
    width: calc(100% - 4rem);
}

@media screen and (max-width: 560px) {
    .container {
        width: 100%;
        height: auto;
        margin: 0;
    }
}

@media (min-width: 560px) and (max-width: 1280px) {
    .container {
        height: auto;
    }
}