.container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 2rem;
}

.icon {
    font-size: 2.5rem;
}

.header {
    display: flex;
    align-items: center;
}

.redCircle {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #FF7272;
}

.nameBox {
    width: 200px;
    line-height: 1rem;
    border: 1px solid #fff;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}

.name {
    font-size: 1.5rem;
    letter-spacing: -3px;
    font-weight: 400;
}

.underName {
    font-size: 0.75rem;
    font-weight: 100;
}

@media screen and (max-width: 560px) {
    .header {
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}