.footer {
  margin-left: 2rem;
  background: #171717;
  color: #fff;
  column-gap: 25px;
  display: flex;
  padding-left: 2rem;
  bottom: 0;
  width: calc(100% - 4rem);
}

.absolutePositionBottom {
  position: absolute;
  left: 0;
}

.isActive {
  border-bottom: 3px solid #ff7272;
  background: hsla(0, 0%, 70%, 0.5);
}

.icon {
  display: flex;
  cursor: pointer;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #ff7272;
}

@media screen and (max-width: 560px) {
  .footer {
    width: 100%;
    margin-left: 0;
  }
}
