.navWrapper {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 43px);
  padding-left: 1rem;
}

.navWrapperDarkBg {
  background: #232323;
}

.navWrapperLightBg {
  background: #fff;
}

.navList,
.navSubList,
.navTo,
.navTo:hover,
.navTo:visited {
  text-decoration: none;
  list-style: none;
  width: calc(100% - 0.8rem);
}

.navListLightColor {
  color: #606060;
}

.navListDarkColor {
  color: #808080;
}

.navSubList {
  margin-top: 0.5rem;
  margin-left: 1.2rem;
  width: calc(100% - 1.2rem);
}

.navText {
  margin-left: 1rem;
}

.currentMainNav {
  border-bottom: 3px solid #ff7272;
}

.currentSubNavLight {
  background: #404040;
  padding-bottom: 1rem;
  margin-top: 1rem;
  color: #fff;
}

.currentSubNavDark {
  background: #989898;
  padding-bottom: 1rem;
  margin-top: 1rem;
  color: #fff;
}

.navTo {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
}

.mainIconDark {
  color: #cafaf4;
}

.mainIconLight {
  color: #000000;
}

.mainIcon,
.subIcon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 560px) {
  .navWrapper {
    display: block;
    width: 100%;
    padding: 1rem 0 2rem 0.8rem;
  }

  .navSubList {
    margin-top: 0;
    margin-left: 2rem;
  }
}

@media (min-width: 560px) and (max-width: 1280px) {
  .navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
